body, html, .nav-items{
    margin:0;
    padding:0;
}

.nav-bar {
    position: fixed;
    z-index: 1;
    text-align: right;
    height: 60px;
    width: 100%;
    background: black;
}

.nav-items li{
    display: inline-block;
}

.nav-items a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 17px;
}

.nav-items a:hover {
    color: white;
}

#introduction {
    background-image: url("images/background.jpg");
    background-size: cover;
    color: white;
}
#intro-message {
    font-size: 25px;
    position: relative;
    top: 300px;
    text-align: center;
}

.row {
    margin-right: 10%;
    margin-left: 10%;
    height: 500px;
    width: 80%;
}
#skills {
    text-align: center;
}

.card-list {
    text-align: left;
    display: table;
    margin: auto;
}

.skill {
    float: left;
    padding: 10px;
    width: 20%;
    height: 300px;
    margin-top: 7%;
    margin-bottom: 10%;
    margin-left: 8%;
    border: 3px solid lightgray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
h3 {
    margin-top: 0;
}

section {
    padding-top: 70px;
    height: 750px;
    width: 100%;
}

#projects {
    background-color: #F5F5F5;
    text-align: center;
    height: 2400px;
}

.projects-wrapper {
    margin-right: 10%;
    margin-left: 5%;
    height: 90%;
    width: 90%;
    text-align: center;
}

.project-card {
    width: 75%;
    height: 700px;
    margin-left: 13%;
    margin-top: 50px;
    border: 3px solid gray;
    box-shadow: 0 1px 6px black;
    color: black;
    background: white;
}

label {
    margin-bottom: 20px;
}

label input {
    padding: 10px 12px;
}

.project-content {
    margin-left: 10%;
    height: 400px;
    width: 80%;
    background-size: cover;
}

#bank-system-content {
    background-image: url("images/bank project.png");
}

#prosumers-project-content {
    background-image: url("images/prosumers project.png");
}

#journal-project-content {
    background-image: url("images/journal project.png");
}

.project-title {
    padding-top: 15px;
}

form {
    padding-top: 70px;
    height: 550px;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 0;
}

input,textarea {
    width: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px;
}

input{
    height: 30px;
}

textarea {
    height: 150px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 51.5%;
}

footer {
    color: gray;
    background: black;
    height: 60px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    display: inline-block;
}